/* 默认主题亮色 */
:root {
  --theme-gradient: linear-gradient(to top, white 0%, #dfe9f3 50%, white 100%); /* 渐变背景 */

  --theme-main-bg: #f6f6f7;        /* 主要背景色 */
  --theme-second-bg: #fff;         /* 次要背景色 */
  --theme-accent-color: #8cccd5;   /* 点缀色 */
  --theme-shadow-color: #e2e2e3;   /* 阴影色 */
  --color-heading: #3c3c43;        /* 标题文字色 */
  --color-heading-highlight: #000; /* 标题高亮色 */
  --color-text: #56565b;           /* 正文文字色 */
  --icon-color: #67676c;           /* 图标颜色 */
  --theme-card-highlight: rgba(0, 0, 0, .1); /* 卡片悬停高亮色 */
  --theme-card-hover-shadow: rgba(0, 0, 0, 0.2); /* 卡片悬停高亮色 */

  /* 首页 */

  /* 首页按钮 */
  --button-primary-bg: #5086a1;    /* 主按钮背景 */
  --button-primary-text: #fff;     /* 主按钮文字 */
  --button-primary-hover: #6aa1b7; /* 主按钮悬停 */

  --button-secondary-bg: #ebebef;  /* 次按钮背景 */
  --button-secondary-text: #3c3c43;/* 次按钮文字 */
  --button-secondary-hover: #e4e4e4;/* 次按钮悬停 */
  
  --homepage-text-level-1: #6aa0b6;  /* 一级标题文字 */
  --homepage-text-level-2: #63595a;  /* 二级副标题文字 */
  --homepage-text-level-3: #6a6a7b;  /* 三级说明文字 */

  /* 登录页码 */
  --button-login-bg: #5086a1;    /* 登录按钮背景 */
  --button-login-text: #fff;     /* 登录按钮文字 */

  /* types 标签颜色 */
  --tag-color-1-bg: #e3f2f2;
  --tag-color-1-text: #8ed3d1;
  --tag-color-1-border: #cbe7e7;
  --tag-color-2-bg: #ddf4f4;
  --tag-color-2-text: #339999;
  --tag-color-2-border: #c2ebeb;
  --tag-color-3-bg: #e9effa;
  --tag-color-3-text: #338fe1;
  --tag-color-3-border: #d6e1f6;
  --tag-color-4-bg: #e0edf8;
  --tag-color-4-text: #55aaee;
  --tag-color-4-border: #c6def2;

  /* loading加载动画 */
  --loading-color: #5086a1;

}

/* 深色主题 */
html[data-theme="dark"] {
  --theme-gradient: var(--theme-main-bg); /* 渐变背景 */

  --theme-main-bg: #161618;        /* 主要背景色 */
  --theme-second-bg: #1b1b1f;         /* 次要背景色 */
  --theme-accent-color: #8cccd5;   /* 点缀色 */
  --theme-shadow-color: #101012;   /* 阴影色 */
  --color-heading: #bacfcc;        /* 标题文字色 */
  --color-heading-highlight: #dfdfd6; /* 标题高亮色 */
  --color-text: #98989f;           /* 正文文字色 */
  --icon-color: #98989f;           /* 图标颜色 */
  --theme-card-highlight: #0e0e0f; /* 卡片悬停高亮色 */
  --theme-card-hover-shadow: #5086a1; /* 卡片悬停高亮色 */

  /* 首页 */

  /* 主页按钮组 */
  --button-primary-bg: #6aa1b7;    
  --button-primary-text: #ffffff;  
  --button-primary-hover: #5d90b8; 
 
  --button-secondary-bg: #32363f;     
  --button-secondary-text: #e0e0e0;
  --button-secondary-hover: #414853;
  
  --homepage-text-level-1: #93a5d5;  /* 一级标题文字 */
  --homepage-text-level-2: #909193;  /* 二级副标题文字 */
  --homepage-text-level-3: #82595d;  /* 三级说明文字 */

  /* 登录页码 */
  --button-login-bg: #5086a1;    /* 登录按钮背景 */
  --button-login-text: #000;     /* 登录按钮文字 */

  /* types 标签颜色 */
  --tag-color-1-bg: #1f2e32;
  --tag-color-1-text: #66cccc;
  --tag-color-1-border: #1b1b1f;
  --tag-color-2-bg: #273e41;
  --tag-color-2-text: #339999;
  --tag-color-2-border: #30595c;
  --tag-color-3-bg: #252b3a;
  --tag-color-3-text: #3366cc;
  --tag-color-3-border: #2e3951;
  --tag-color-4-bg: #1a2736;
  --tag-color-4-text: #55aaee;
  --tag-color-4-border: #1a2d40;

  /* loading加载动画 */
  --loading-color: #ede6e6;
}
